<% content_for :title, "About Us" %>
<% description "A short history of Silver & Stones Gallery." %>
<div class="row">
  <div class="large-12 columns">
    <%= image_tag "static_pages/storefront.jpg", id: "about-us-img" %>
    <hr>
  </div>
</div>
 
<div class="row" data-equalizer>
  <div class="large-4 columns" data-equalizer-watch>
    <%= image_tag "static_pages/logo_instore.jpg" %>
  </div>
  <div class="large-8 columns" >
    <div class="panel" data-equalizer-watch>
      <% if role_edit? %>
        <a href="#" data-reveal-id="static-<%= @first.id %>-modal" class="button expand tiny">
          <i class="fa fa-edit"></i>&emsp;Edit Text
        </a>
      <% end %>
      <h4><%= @first.title %></h4>
      <div class="row">
        <div class="small-12 columns" id="history">
          <p><%= @first.text %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr />
  </div>
</div>
 
<div class="row" data-equalizer>
  <div class="large-8 columns" >
    <div class="panel" data-equalizer-watch>
      <% if role_edit? %>
        <a href="#" data-reveal-id="static-<%= @second.id %>-modal" class="button expand tiny">
          <i class="fa fa-edit"></i>&emsp;Edit Text
        </a>
      <% end %>
      <h4><%= @second.title %></h4>
      <p><%= @second.text %></p>
    </div>
  </div>
  <div class="large-4 columns" data-equalizer-watch>
    <%= image_tag "static_pages/about_us.jpg" %>
  </div>
</div>

<% if role_edit? %>
  <%= render :partial => 'static_texts/edit', :locals => { :entry => @first } %>
  <%= render :partial => 'static_texts/edit', :locals => { :entry => @second } %>
<% end %>