<% content_for :title, "About Us" %>
<% description "A short history of Silver & Stones Gallery." %>
<div class="row">
  <div class="large-12 columns">
    <%= image_tag "static_pages/storefront.jpg", id: "about-us-img" %>
    <hr>
  </div>
</div>
 
<div class="row">
  <div class="large-4 columns">
    <%= image_tag "static_pages/logo_instore.jpg" %>
  </div>
  <div class="large-8 columns">
    <h4>Local and proud</h4>
    <div class="row">
      <div class="small-12 columns" id="history">
        <p><%= @first.html %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <hr />
  </div>
</div>
 
<div class="row">
  <div class="large-8 columns">
    <h4>Our Passion</h4>
    <p><%= @second.html %></p>
  </div>
  <div class="large-4 columns">
    <%= image_tag "static_pages/about_us.jpg" %>
  </div>
</div>