<% content_for :title, "Home" %>
<% description "Silver & Stones Gallery is a perfect place to shop for special gifts or treasures from your home." %>

<% if @headline.active %>
<div class="row text-center">
  <div class="small-12 columns">
    <div data-alert class="alert-box breaking">
      <%= raw @headline.text %>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <ul id="welcome-slider">
      <li><%= image_tag "static_pages/storefront.jpg" %></li>
      <li><%= image_tag "static_pages/store1.jpg" %></li>
      <li><%= image_tag "static_pages/store2.jpg" %></li>
      <li><%= image_tag "static_pages/store3.jpg" %></li>
      <li><%= image_tag "static_pages/store4.jpg" %></li>
      <li><%= image_tag "static_pages/store5.jpg" %></li>
    </ul>
  </div>
</div>

<hr/>

<div class="row">
  <div class="small-12 columns">
    <p><%= @description.text %></p>
  </div>
</div>

<hr />

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @entries.each_with_index do | entry, i | %>
  <li>
    <div class="text-center"><%= image_tag "static_pages/panel#{i + 1}.jpg" %></div>
    <h4 class="text-center"><%= entry.title %></h4>
    <p><%= entry.text %></p>
  </li>
  <% end %>
</ul>