<% title "Silver & Stones Gallery" %>

<div class="row">
  <div class="small-12 columns">
    <ul id="welcome-slider">
      <li><%= image_tag "static_pages/storefront.jpg" %></li>
      <li><%= image_tag "static_pages/store1.jpg" %></li>
      <li><%= image_tag "static_pages/store2.jpg" %></li>
      <li><%= image_tag "static_pages/store3.jpg" %></li>
      <li><%= image_tag "static_pages/store4.jpg" %></li>
      <li><%= image_tag "static_pages/store5.jpg" %></li>
    </ul>
  </div>
</div>

<hr/>

<div class="row">
  <div class="small-12 columns">
  <p>
    Silver &amp; Stones Gallery is the perfect place to shop for special gifts or treasures for your home. We pride ourselves on our large collection of locally produced artwork, artisan-made jewelry, and fine decor. We stock many specialty items that you won't be likely to find anywhere else! Our friendly staff and warm, welcoming store environment ensure an enjoyable shopping experience.
  </p>
  </div>
</div>

<hr />
 
<div class="row">
  <div class="small-12 medium-4 columns">
    <%= image_tag "static_pages/panel1.jpg" %>
    <h4 class="text-center">Home Accents</h4>
    <p>We get new items in frequently, so there will always be something new and interesting to enjoy in your home!</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag "static_pages/panel2.jpg" %>
    <h4 class="text-center">Handmade Jewelry</h4>
    <p>Our stock of artisan jewelry is of the finest quality, produced by masters of their trade.</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag "static_pages/panel3.jpg" %>
    <h4 class="text-center">Unique Apparel</h4>
    <p>If you've got an eye for fashion, you know how important a unique style is. We have apparel you won't find anywhere else!</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag "static_pages/panel3.jpg" %>
    <h4 class="text-center">Consumables</h4>
    <p>We offer a wide variety of tasy treats, from snacks and dips to handmade candy.</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag "static_pages/panel2.jpg" %>
    <h4 class="text-center">Fantastic Gifts</h4>
    <p>Sometimes it can be hard to find a unique gift. Our unique stock means you're sure to find that special something.</p>
  </div>
  <div class="small-12 medium-4 columns">
    <%= image_tag "static_pages/panel1.jpg" %>
    <h4 class="text-center">Beautiful Art</h4>
    <p>Our artists provide some of their best work for us, which we're happy to pass along to you.</p>
  </div>
</div>
