<% content_for :title, "Home" %>
<% description "Silver & Stones Gallery is a perfect place to shop for special gifts or treasures from your home." %>

<% if @headline.active %>
  <div class="row text-center">
    <div class="small-12 columns">
      <div data-alert class="alert-box breaking">
        <%= raw @headline.text %>
      </div>
    </div>
  </div>
<% end %>

<% unless @sliders.empty? %>
  <div class="row">
    <div class="small-12 columns">
      <ul id="welcome-slider">
        <% @sliders.each do | image | %>
          <li><%= image_tag image.picture.url(:large), alt: image.caption %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if role_edit? %>
  <br />
  <div class="text-center">
    <%= link_to slider_images_path, class: "button" do %>
      <i class="fa fa-pencil"></i>&emsp;Manage Slider Images
    <% end %>
  </div>
<% end %>

<hr/>

<div class="row text-center">
  <div class="small-12 columns">
    <div class="panel">
      <% if role_edit? %>
        <%= link_to edit_page_section_path(@description), class: "button expand" do %>
          <i class="fa fa-edit"></i>&emsp;Edit Description
        <% end %>
      <% end %>
      <h2><%= @description.title %></h2>
      <p><%= @description.text %></p>
    </div>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="small-12 columns">
    <div class="text-center">
      <% if role_add? %>
        <%= link_to new_homepage_panel_path, class: "button" do %>
          <i class="fa fa-plus"></i>&emsp;Add Info Panel
        <% end %>
      <% end %>
    </div>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @panels.each do | panel | %>
        <li>
          <div class="panel" data-equalizer-watch>
            <% if role_edit? %>
              <%if role_delete? %>
                <div class="row">
                  <div class="small-6 columns">
                    <%= link_to edit_homepage_panel_path(panel), class: "button expand" do %>
                      <i class="fa fa-edit"></i>&emsp;Edit
                    <% end %>
                  </div>
                  <div class="small-6 columns">
                    <%= link_to panel, method: :delete, data: { confirm: 'Are you sure you want to delete this panel?' }, class: "button expand alert" do %>
                      <i class="fa fa-times"></i>&emsp;Delete
                    <% end %>
                  </div>
                </div>
              <% else %>
                <div class="row">
                  <div class="small-12 columns">
                    <%= link_to edit_homepage_panel_path(panel), class: "button expand" do %>
                      <i class="fa fa-edit"></i>&emsp;Edit
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <a href="#" data-reveal-id="panel-<%= panel.id %>-modal">
              <%= image_tag panel.picture.url(:medium) %>
            </a>
            <hr />
            <h3 class="text-center"><%= panel.title %></h3>
            <p><%= panel.text %></p>
          </div>
        </li>
      <% end %>    
    </ul>
  </div>
</div>


<% @panels.each do | panel | %>
  <div id="panel-<%= panel.id %>-modal" class="reveal-modal" data-reveal>
    <%= link_to panel.picture.url(:original), :target => "_blank" do %>
      <div class="text-center">
        <%= image_tag panel.picture.url(:large) %>
      </div>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>