<% content_for :title, "Home" %>
<% description "Silver & Stones Gallery is a perfect place to shop for special gifts or treasures from your home." %>

<% if @headline.active %>
<div class="row text-center">
  <div class="small-12 columns">
    <div data-alert class="alert-box breaking">
      <%= raw @headline.text %>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <ul id="welcome-slider">
      <li><%= image_tag "static_pages/storefront.jpg" %></li>
      <% for i in 1..5 do %>
        <li><%= image_tag "static_pages/store#{i}.jpg" %></li>
      <% end %>
    </ul>
  </div>
</div>

<hr/>

<div class="row text-center">
  <div class="small-12 columns">
    <% if role_edit? %>
    <a href="#" data-reveal-id="static-<%= @description.id %>-modal" class="button expand tiny">
      <i class="fa fa-edit"></i>&emsp;Edit Text
    </a>
    <% end %>
    <h2><%= @description.title %></h2>
    <p><%= @description.text %></p>
  </div>
</div>

<hr />

<div class="row" data-equalizer>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <% @entries.each_with_index do | entry, i | %>
    <li>
      <div class="panel soft" data-equalizer-watch>
        <div class="text-center"><%= image_tag "static_pages/panel#{i + 1}.jpg" %></div>
        <% if role_edit? %>
          <a href="#" data-reveal-id="static-<%= entry.id %>-modal" class="button tiny expand">
            <i class="fa fa-edit"></i>&emsp;Edit Text
          </a>
        <% end %>
        <h4 class="text-center"><%= entry.title %></h4>
        <p><%= entry.text %></p>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<% if role_edit? %>
  <%= render :partial => 'static_texts/edit', :locals => { :entry => @description } %>
  <% @entries.each do | entry | %>
    <%= render :partial => 'static_texts/edit', :locals => { :entry => entry } %>
  <% end %>
<% end %>