<div class="small-5 columns small-centered">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label "username" %>
    <%= f.text_field "username", id: "username" %>

    <%= f.label "password"%>
    <%= f.password_field "password", id: "password" %>

    <%= f.submit "Login", class: "button expand", id: "login" %>
<% end %>
</div>
