<div class="row text-center">
  <h2>Editing <%= @user.email %></h2>
</div>

<%= form_for @user do |form| %>
<div class="row text-center">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
    </div>

    <div class="row text-center">
      <div class="small-12 columns">
        <em>Manage your account to change your password or close your account.</em>
      </div>
    </div>
    <%= link_to edit_user_registration_path, class: "button" do %>
      <i class="fa fa-lock"></i>&emsp;Manage Account
    <% end %>

    <fieldset>
      <legend>Contact Information</legend>
      <div class="row">
        <div class="small-6 columns">
          <%= form.label :first_name %>
          <%= form.text_field :first_name %>

          <%= form.label :middle_name %>
          <%= form.text_field :middle_name %>

          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </div>
        <div class="small-6 columns">
          <%= form.label :home_phone %>
          <%= form.text_field :home_phone %>

          <%= form.label :work_phone %>
          <%= form.text_field :work_phone %>

          <%= form.label :address %>
          <%= form.text_field :address %>
        </div>
      </div>
    </fieldset>

    <%= form.submit "Submit", class: "button expand", id: "submit" %>
  </div>
</div>
<% end %>
