<div class="small-12 columns">
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th width="130">Update</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user %></td>
        <% unless user.role_id > current_user.role_id || user.id == current_user.id %>
          <%= form_for user do |form| %>
            <td>
              <div class="range-slider" data-slider data-options="start: 1; end: <%= current_user.role_id %>; initial: <%= user.role_id %>">
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span> 
                <%= form.hidden_field :role_id %>
              </div>
            </td>
            <td><%= form.submit "Update Role" %></td>
          <% end %>
        <% else %>
          <td>
            <div class="range-slider disabled" data-slider data-options="start: 1; end: 5; initial: <%= user.role_id %>">
              <span class="range-slider-handle" role="slider" tabindex="0"></span>
              <span class="range-slider-active-segment"></span> 
              <input type="hidden">
            </div>
          </td>
          <td></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
