<div class="row text-center">
  <div class="small-12 columns">
    <h1>Users</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <table>
      <thead>
        <tr>
          <th width="130">Role ID</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <% @roles.each do | role | %>
        <tr>
          <td><%= role.id %></td>
          <td><%= role.description %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <table id="users-table">
        <thead>
          <tr>
            <th>Email</th>
            <th width="130">Role ID</th>
            <th width="130">Update</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.email, user %></td>
            <%= form_for user do |form| %>
              <td><%= form.select "role_id", options_from_collection_for_select(@roles, "id", "name", :selected => user.role_id) %></td>
              <td><%= form.submit "Update" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>