<div class="row">    
    
  <div class="small-9 columns">
    <div class="row">
      <div class="small-12 columns text-center">
        <h1><%= @user.email %></h1>
      </div>
    </div>

    <div class="row text-center">
      <div class="small-12 columns">
        <table>
          <tr>
            <td><strong>Name</strong></td>
            <td>
              <% unless @user.last_name.empty? && @user.first_name.empty? && @user.middle_name.empty? %>
                <%= "#{@user.last_name}, #{@user.first_name} #{@user.middle_name}" %>
              <% else %>
                <em>Not provided</em>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>Address</strong></td>
            <td>
              <% unless @user.address.empty? %>
                <%= @user.address %>
              <% else %>
                <em>Not provided</em>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>Home Phone</strong></td>
            <td>
              <% unless @user.home_phone.empty? %>
                <%= @user.home_phone %>
              <% else %>
                <em>Not provided</em>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>Work Phone</strong></td>
            <td>
              <% unless @user.work_phone.empty? %>
                <%= @user.work_phone %>
              <% else %>
                <em>Not provided</em>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="small-3 columns">
    <ul class="side-nav">
      <li>
        <%= link_to edit_user_path(@user), class: "button expand", id: "edit-profile" do %>
          <i class="fa fa-edit"></i>&emsp;Edit Profile
        <% end %>
      </li>
      <li>
        <%= link_to @user, method: :delete, data: { confirm: "You sure?" }, class: "button alert expand", id: "delete-user" do %>
          <i class="fa fa-trash"></i>&emsp;Close Account
        <% end %>
      </li>
    </ul>
  </div>

</div>