 <div class="row">    
    
    <div class="small-9 columns">
      <div class="row">
        <div class="small-12 columns text-center">
          <h1><%= @user.username %></h1>
          <span class="lato">
          </span>
        </div>
      </div>

      <div class="row text-center">
        <div class="small-12 columns">
          <table>
            <tr>
              <td><strong>Name</strong></td>
              <td>
                <% unless @user.last_name.empty? && @user.first_name.empty? && @user.middle_name.empty? %>
                  <%= "#{@user.last_name}, #{@user.first_name} #{@user.middle_name}" %>
                <% else %>
                  <em>Not provided</em>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Address</strong></td>
              <td>
                <% unless @user.address.empty? %>
                  <%= @user.address %>
                <% else %>
                  <em>Not provided</em>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Home Phone</strong></td>
              <td>
                <% unless @user.home_phone.empty? %>
                  <%= @user.home_phone %>
                <% else %>
                  <em>Not provided</em>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Work Phone</strong></td>
              <td>
                <% unless @user.work_phone.empty? %>
                  <%= @user.work_phone %>
                <% else %>
                  <em>Not provided</em>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="small-3 columns">
      <ul class="side-nav">
        <li><%= link_to "Edit Profile", edit_user_path(@user), class: "button expand", id: "edit-profile" %></li>
        <li><%= link_to "Delete User", @user, method: :delete, data: { confirm: "You sure?" }, class: "button alert expand", id: "delete-user" %></li>
      </ul>
    </div>

  </div>

<!-- <div class="row">
  <div class="large-6 columns">
    <h1><%= @user.username %></h1>
    <p></p>
    <p><%= link_to "Delete User", @user, method: :delete, data: { confirm: "You sure?" }, class: "button alert expand", id: "delete-user" %></p>
    <h2>Contact</h2>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.email %></td>
          <td><%= (@user.home_phone.empty? && @user.work_phone.empty?) ? "No Information" :  "#{@user.home_phone} (H) #{@user.work_phone} (W)" %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="large-6 columns">
    <h2>Information</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Adress</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td id="name"><%= (@user.last_name.empty? && @user.middle_name.empty? && @user.first_name.empty?) ? "No Information" : "#{@user.last_name},#{@user.middle_name} #{@user.first_name}" %></td>
          <td><%= @user.address.empty? ? "no information" : @user.address  %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
