<div class="row text-center">
  <div class="small-12 columns">
    <div class="panel">

      <%= form_for @slider do | f | %>
        <% if @slider.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@slider.errors.count, "error") %> prohibited this slider from being saved:</h2>

            <ul>
            <% @slider.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="small-12 columns">
            <%= f.label :caption %>
            <%= f.text_field :caption %>
            
            <%= f.label :picture %>
            <%= f.file_field :picture, class: "button expand" %>
            <%= image_tag @slider.picture.url(:large) %>
          </div>
        </div>

        <hr />
        
        <div class="row">
          <div class="small-12 columns">
            <%= f.submit class: "button" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>