<div class="row text-center">
  <div class="small-12 columns">
    <div class="panel">
      <h1>All Orders</h1>
      <table id="all-orders">
        <thead>
          <tr>
            <th width="120">Order #</th>
            <th width="140">Price</th>
            <th width="300">User</th>
            <th>Placed On</th>
            <th width="130">Complete?</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do | order | %>
            <tr>
              <td><strong><%= link_to order.id, order %></strong></td>
              <td><%= number_to_currency(order.subtotal) %></td>
              <td><%= link_to order.user.email, order.user %></td>
              <td><%= order.created_at.in_time_zone("Central Time (US & Canada)").to_formatted_s(:long) %></td>
              <td><%= order.completed ? "Yes" : "No" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
