<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        
        <h3>We've received an order from <%= @order.user.full_name %>!</h3>
        <h4>Order number: <%= @order.id %></h4>
        <h4>Order date: <%= @order.created_at.in_time_zone("Central Time (US & Canada)").to_formatted_s(:long) %></h4>

        <hr />

        <h1>Items</h1>
        <table style="border: 1px solid black;">
            <% @order.order_items.each do | item | %>
                <tr>
                    <td width="300"><%= item.item.name %></td>
                    <td width="150"><%= item.quantity %></td>
                    <td width="200"><%= number_to_currency(item.quantity * item.price_per_unit) %></td>
                </tr>
            <% end %>
        </table>

        <hr />

        <h1>User Info</h1>
        <h3>Name: <%= @order.user.full_name %></h3>
        <h3>Address: <%= @order.user.address %></h3>
        <h3>Home Phone: <%= @order.user.home_phone %></h3>
        <h3>Work Phone: <%= @order.user.work_phone %></h3>

        <p>Please expect to be contacted by this user to arrange delivery/pickup and payment options.</p>
    </body>

</html>
