<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th width="150">Quantity</th>
            <th width="200">Price</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.each do | entry | %>
            <tr>
              <td><%= entry.item.name %></td>
              <td><%= entry.quantity %></td>
              <td><%= number_to_currency(entry.quantity * entry.item.price) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="panel text-center">
      <table>
        <tbody>
          <tr style="font-size: 50px !important;">
            <td class="text-center bigger"><strong>Subtotal</strong></td>
            <td class="text-center bigger"><%= number_to_currency(@subtotal) %></td>
          </tr>
        </td>
      </table>
    </tbody>
    <p>By clicking "Reserve," you understand that the items will be held until such time as (1) payment has been received and (2) a delivery method or pickup method can be arranged. A receipt will be sent to both you and Silver &amp; Stones Gallery to confirm the reservation.</p>
    <p>In order to best serve you, we ask that you arrange payment and receipt method by giving us a call at (715) 839-8197 or by stopping in.</p>

    <%= link_to "http://google.com", class: "button expand" do %>
      <i class="fa fa-check"></i>&emsp;Reserve Order
    <% end %>
  </div>
</div>