<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row text-center">
    <div class="small-12 medium-4 columns">
      <%= image_tag @item.picture.url(:medium) %>
      <%= f.label :picture %>
      <%= f.file_field :picture, class: "button expand" %>
    </div>
    <div class="small-12 medium-8 columns">
      <%= f.label "Category" %>
      <%= f.collection_select :item_category_id, ItemCategory.active, :id, :name %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>

      <%= f.label :price %>
      <%= f.number_field :price, :in => 0.00..100000000.0, :step => 0.01 %>

      <%= f.label "Stock" %>
      <%= f.number_field :in_stock, :in => 0..100000000, :step => 1 %>

      <label>Active</label>
      <div class="switch">
        <%= f.check_box :active, :check_value => true, :unchecked_value => false, :checked => true %>
        <%= f.label :active %>
      </div>

      <hr />

      <div class="actions">
          <%= f.submit class: "button expand" %>
      </div>
    </div>
  </div>
<% end %>
