<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  


    <%= f.label "Category" %>
    <%= f.collection_select :item_category_id, ItemCategory.all, :id, :name %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :price %>
    <%= f.number_field :price, :in => 0.00..100000000.0, :step => 0.01 %>

    <%= f.label "Stock" %>
    <%= f.number_field :in_stock, :in => 0..100000000, :step => 1 %>

    <%= f.check_box :active, :check_value => true, :unchecked_value => false, :checked => true %>
    <%= f.label :active %>

    <h1>Where Paperclip goes</h1>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
