<h1>Active Item List</h1>

<table>
  <thead>
    <tr>
      <th >Name</th>
      <th >Description</th>
      <th >Price</th>
      <th >Stock</th>
      <th colspan="3">Actions</th>

    </tr>
  </thead>

  <tbody>
    <% @active_items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <td><%= item.in_stock %></td>
      <td><%= link_to 'Show', item %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Deactivate', controller: "items", :action => "toggle_activeness", :id => item  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Inactive Item List</h1>

<table>
  <thead>
    <tr>
      <th >Name</th>
      <th >Description</th>
      <th >Price</th>
      <th >Stock</th>
      <th colspan="4">Actions</th>

    </tr>
  </thead>

  <tbody>
    <% @inactive_items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <td><%= item.in_stock %></td>
      <td><%= link_to 'Show', item %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Activate', controller: "items", :action => "toggle_activeness", :id => item  %></td>
      <td><b><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></b></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>


<div class="row">
  <div class="large-4 small-12 columns">
    <% @active_items.each do |item| %>
    <div class="large-8 columns">
      <div class="row">
        <div class="large-4 small-6 columns">
          <%= link_to image_tag("http://placehold.it/1000x1000&amp;text=Thumbnail"), item %>
          
          <div class="panel">
            <h5><%= item.name %></h5>
            <p>$<%= item.price %></p>
            <p align=right><%= item.in_stock %> in stock</p>
          </div>
        </div>
      </div>
    </div> 
    <% end %>
  </div>
</div>

