<div class="row">
  <hr>
  <div class="small-12 medium-6 columns">
    <%= image_tag @item.picture.url(:medium) %>
  </div>
  <div class="small-12 medium-6 columns">
    <h1><%= @item.name %></h1>
    <p><%= @item.description %></p>
    <div class="panel">
      <h2>$<%= @item.price %></h2>
      <h6 class="subheader">Currently in stock: <%= @item.in_stock %></h6>
      <a href="#" class="small button">Reserve</a>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
