<div class="row">
  <div class="small-12 medium-6 columns text-center">
    <div class="panel">
      <a href="#" data-reveal-id="picture-modal">
        <%= image_tag @item.picture.url(:medium) %>
        <hr />
        <h5><i class="fa fa-search-plus"></i>&emsp;Click to enlarge</h5>
      </a>
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <div class="panel">
      <h1><%= @item.name %></h1>
      <p><%= @item.description %></p>
    </div>
    <div class="panel">
      <h2><%= number_to_currency(@item.price) %></h2>
      <p>Currently in stock: <%= @item.in_stock %><p>
      <% if user_signed_in? %>
        <% unless @item.in_stock <= 0 %>
          <%= form_for @carted_item, url: add_to_cart_path do | f | %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.select :quantity, 1..@item.in_stock %>
            <%= f.submit "Add to Cart", class: "button expand" %>
          <% end %>
        <% end %>
      <% else %>
        <p>Only registered users may add to carts. It's free to sign up, so <%= link_to "make an account!", new_user_registration_path %></p>
      <% end %>
    </div>
  </div>
</div>

<div id="picture-modal" class="reveal-modal" data-reveal>
  <%= link_to @item.picture.url(:original), :target => "_blank" do %>
    <div class="text-center">
      <%= image_tag @item.picture.url(:original) %>
    </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>