<%= form_for @template do |form| %>
  <div class="panel">
    <%= form.label :subject %>
    <%= form.text_field :subject%>

    <%= form.label :content %>
    <%= form.cktext_area :content %>

    <%= form.submit "Update", class: "button expand" %>
  </div>
<% end %>   
