<div class="row">
    <h1 align="center">Mass Email</h1>
    <div class="large-6 columns">
    <h3>Select emails to be sent to</h3>
    <%= form_tag mass_email_path, :method => :put, :as => "email" do %>

        <% @users.each do |user| %>
            <p>
            <%= check_box_tag "mass_email[user_#{user.id}]", user.id %>
            <%= label_tag user.email %>
            </p>
        <% end %>
        <%= submit_tag "Submit" %>
    <% end %>
    </div>
    <div class="large-6 columns">
        <h3>Email being sent</h3>
        <div class="template_box">
            <p>
            <b>Subject:</b> <%= @template.subject %>
            </p>
            <p>
            <b>Body:</b> <%= raw @template.content %>
            </p>
        </div>
    </div>
</div>
