<div class="text-center">
  <%= image_tag "logo.png", id: "logo" %>
</div>

<div class="icon-bar five-up">
  <%= link_to root_path, class: "item", id: "home" do %>
    <i class="fa fa-home"></i>
    <label class="show-for-medium-up">Home</label>
  <% end %>
  <%= link_to about_path, class: "item", id: "about-us" do %>
    <i class="fa fa-question"></i>
    <label class="show-for-medium-up">About Us</label>
  <% end %>
  <%= link_to contact_path, class: "item", id: "contact-us" do %>
    <i class="fa fa-phone"></i>
    <label class="show-for-medium-up">Contact Us</label>
  <% end %>
  <%= link_to "http://google.com", class: "item", id: "shop" do %>
    <i class="fa fa-shopping-cart"></i>
    <label class="show-for-medium-up">Shop</label>
  <% end %>

  <% unless user_signed_in? %>
    <%= link_to new_user_session_path, class: "item", id: "login" do %>
      <i class="fa fa-sign-in"></i><label class="show-for-medium-up">Login</label>
    <% end %>
  <% else %>
      <%= link_to destroy_user_session_path, :method => :delete, class: "item", id: "logout" do %>
        <i class="fa fa-sign-out"></i>
        <label class="show-for-medium-up">Logout</label>
      <% end %>
  <% end %>

</div>
