<nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Silver & Stones", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <% if role_read? %>
        <li>
          <%= link_to users_path do %>
            <i class="fa fa-group"></i>&emsp;Users
          <% end %>
        </li>
      <% end %>


      <% if role_add? %>
        <li class="has-dropdown">
          <%= link_to items_path do %>
            <i class="fa fa-gift"></i>&emsp;Items
          <% end %>
          <ul class="dropdown">
            <li>
              <%= link_to new_item_path do %>
                <i class="fa fa-plus"></i>&emsp;Add Item
              <% end %>
            </li>
          </ul>
        </li>
      <% elsif role_read? %>
        <li>
          <%= link_to items_path do %>
            <i class="fa fa-gift"></i>&emsp;Items
          <% end %>
        </li>
      <% end %>

      <% if role_add? %>
        <li class="has-dropdown">
          <%= link_to item_categories_path do %>
            <i class="fa fa-folder-open"></i>&emsp;Item Categories
          <% end %>
          <ul class="dropdown">
            <li>
              <%= link_to new_item_category_path do %>
                <i class="fa fa-plus"></i>&emsp;Add Item Category
              <% end %>
            </li>
          </ul>
        </li>
      <% elsif role_read? %>
        <li>
          <%= link_to items_path do %>
            <i class="fa fa-gift"></i>&emsp;Items
          <% end %>
        </li>
      <% end %>

      <li class="has-dropdown">
        <%= link_to edit_user_path current_user do %>
          <i class="fa fa-gear"></i>&emsp;Edit Profile
        <% end %>
        <ul class="dropdown">
          <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-lock"></i>&emsp;Edit Password
          <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </section>

</nav>